<h1>Apply for this job [applications # new] </h1>
<%# <%= simple_form_for [ @job, @review ] do |f| %>
<%= simple_form_for [ @job, @application ] do |f| %>
  <%= f.input :applicant_id,
               disabled: true,
               autofocus: true %>
  <%= f.input :job_id,
               disabled: true %>
  
  <%= f.submit "Apply", class: "btn btn-primary" %>
<% end %>
