

<div class="cards-container index-body justify-content-between">
  <h1 class="title-show"><strong>Opportunities near you</strong></h1>
  <div class="row cards">
    <% @jobs.each do |job| %>
      <div class="col-12 col-md-6 col-lg-4">
        <%= link_to job_path(job), class: 'card-link' do %>
        <div class="card" style="background-size: cover; background-image: url('<%= job.banner_photo.attached? ? cl_image_path(job.banner_photo.key) : 'https://source.unsplash.com/random' %>');">
          <div class="card-description">
            <div class="card-title">
            <h2 class="title"><%= job.title %></h2>
            </div>
            <p class="pay">Salary: $<%= job.pay %></p>
            <p class="start">Begins: <%= job.start_date.strftime('%b %d') %></p>
            <p class="deadline">⌛<%= job.deadline.strftime('%b %d') %></p>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
