<h1>Jobs # Show</h1>
<p>Title: <%= @job.title %> <%= link_to "Apply now", new_job_application_path(@job) %></p>
<p>Description: <%= @job.description %></p>
<p>Pay: <%= @job.pay %></p>
<p>Start Date: <%= @job.start_date %></p>
<p>Deadline: <%= @job.deadline %></p>
<p>Posted by: <%= "#{@job.employer.first_name} #{@job.employer.last_name}" %></p>
<%= link_to "Back to Jobs", jobs_path %>
<%= link_to "Edit", edit_job_path %>
<%= link_to "Delete", job_path,
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
<h3>Current Applicants</h3>
</ul>
<% @job.applications.each do |application| %>
  <li><%= "#{application.applicant.first_name} #{application.applicant.last_name} | #{application.applicant.email}" %></li>
<% end %>
<ul>