<div class="container new-job p-0">
  <div class="job-banner" style="background-size: cover; background-image: url('<%= @job.banner_photo.attached? ? cl_image_path(@job.banner_photo.key) : 'https://source.unsplash.com/random' %>');">
    <div class="job-banner-content">
       <h2><%= @job.title %></h2>
    </div>
  </div>
    <div class="bottom-half p-2">
        <div class="left-side">
          <%= link_to "Apply now", new_job_application_path(@job), class: "button-back"%>
          <h4>Job Description:</h4>
            <p><%= @job.description %></p>
        </div>
        <div class="right-side">
          <p>Pay: $<%= @job.pay %></p>
          <p>Start Date: <%= @job.start_date.strftime('%b %d') %></p>
          <p>Deadline: <%= @job.deadline.strftime('%b %d') %></p>
            <%= link_to "Edit", edit_job_path, class: "button-back" %>
            <%= link_to "Delete", job_path,
                                    method: :delete,
                                    data: { confirm: "Are you sure?" },class: "button-back" %>
            <%= link_to "Back to Jobs", jobs_path, class: "button-back"  %>
            <ul>
              <li class="inline-block">Posted by: <%= "#{@job.employer.first_name} #{@job.employer.last_name}" %></li>
                <% @job.applications.each do |application| %>
                  <li><%= "#{application.applicant.first_name} #{application.applicant.last_name} | #{application.applicant.email}" %>
                  <% if application.cv.attached? %>
                    <%= link_to "CV", cloudinary_url(application.cv.key, transformation: "medium") %>
                    <%# https://res.cloudinary.com/luigirazum/image/upload/v1605731769/esfzj8jk9zqo9jzrtpv9d005t40w.pdf %>
                    <%# http://res.cloudinary.com/luigirazum/image/upload/hraphypz79f05agk4tc5dmd6gzwf %></li>
                  <% end %>
                <% end %>
              </ul>
        </div>
    </div>
</div>
